.boardPage {
  display: flex;
  align-items: center;
  min-height: 80vh;
  margin: 0 auto;
}

.userBoardBall {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  width: 150px;
  font-weight: bold;
  font-size: 2rem;
  text-decoration: none;
  border-radius: 50%;
  text-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

.userA {
  color: #08f7fe;
  background: #080808;
  align-self: self-end;
}

.userB {
  color: #ff466d;
  background: #ffffff;
  align-self: self-start;
}

.topic {
  border-radius: 1rem;
  text-align: center;
  padding: 1rem;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.1);
  background: #724cdd;
}