.main {
  display: flex;
  flex-direction: column;
  padding: 1rem 1rem;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 50%,
    rgba(8, 8, 8, 1) 50%
  );
  position: relative;
}

.login--section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 86vh;
  width: 100vw;
}

.ball {
  height: 150px;
  width: 150px;
  font-style: oblique;
  font-weight: bold;
  font-size: 2rem;
  border: 0px;
  border-radius: 50%;
  text-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  box-shadow: 0, 2px, 10px, 0 rgba(0, 0, 0, 0.3);
}

.ball-one {
  color: #ff466d;
  transform: translate(5rem, 4rem);
}

.signup--button--text,
.login--button--text {
  position: relative;
}

.signup--button--text::before {
  background-color: #08f7fe;
}

.login--button--text::before {
  background-color: #ff466d;
}

.signup--button--text::before,
.login--button--text::before {
  content: '';
  position: absolute;
  display: block;
  width: 100%;
  height: 0.5rem;
  bottom: 0;
  left: 0;
  transform: scaleX(0);
  transform-origin: top left;
  transition: transform 0.3s ease;
}

.ball-one:hover .signup--button--text::before,
.ball-three:hover .login--button--text::before {
  transform: scaleX(1);
}

.ball-two {
  color: #ffffff;
  transform: translate(-3vw, 0vh);
  z-index: 1;
}

.ball-two::before {
  content: '0101010';
  color: #08f7fe;
  position: absolute;
  transform: translate(0.5rem, -1rem);
}

.ball-two::after {
  content: '0101010';
  color: #ff466d;
  position: absolute;
  transform: translate(-8.5rem, 1rem);
}

.ball-three {
  color: #08f7fe;
  transform: translate(-6.7rem, -3.5rem);
}